@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";
@plugin "tailwindcss-motion";

@import '@fontsource-variable/quicksand' layer(base);
@import '@fontsource-variable/jura' layer(base);

@theme {
  --default-font-family: 'Quicksand Variable', ui-rounded, system-ui, var(--font-sans);
  --font-display: 'Jura Variable', var(--font-sans);
  --font-ui: 'Nunito Variable', var(--font-sans);

  --animate-bounce-right: bounce-right 1s ease-in-out infinite;

  @keyframes bounce-right {
    0%, 100% {
      transform: translateX(-25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: none;
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
}

@custom-variant pointer-coarse (@media (pointer: coarse));
@custom-variant pointer-fine (@media (pointer: fine));

@utility inset-shadow-convex-light {
  --tw-inset-shadow:
    inset 0 1px 0 var(--color-white),
    inset 0 -1px 0 oklch(from var(--tw-inset-shadow-color, rgb(0 0 0)) calc(l - 0.06) c h);

  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

@utility inset-shadow-convex-dark {
  --tw-inset-shadow:
    inset 0 1px 0 oklch(from var(--tw-inset-shadow-color, rgb(255 255 255)) calc(l + 0.06) c h),
    inset 0 -1px 0 oklch(from var(--tw-inset-shadow-color, rgb(0 0 0)) calc(l - 0.06) c h);

  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

@utility inset-shadow-concave-dark {
  --tw-inset-shadow:
    inset 0 1px 0 oklch(from var(--tw-inset-shadow-color, rgb(0 0 0)) calc(l - 0.05) c h),
    inset 0 -1px 0 oklch(from var(--tw-inset-shadow-color, rgb(255 255 255)) calc(l + 0.06) c h);

  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

@utility inset-shadow-concave-light {
  --tw-inset-shadow:
    inset 0 1px 0 oklch(from var(--tw-inset-shadow-color, rgb(0 0 0)) calc(l - 0.08) c h),
    inset 0 -1px 0 var(--color-white);

  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

:root {
  @apply scheme-light dark:scheme-dark;
  background-color: light-dark(var(--color-zinc-100), var(--color-zinc-800));

  transition-behavior: allow-discrete;
  interpolate-size: allow-keywords;
}
