@import 'tailwindcss';
@import '@fontsource-variable/nunito' layer(base);
@import '@fontsource-variable/jura' layer(base);

@theme {
  --default-font-family: 'Nunito Variable', var(--font-sans);
  --font-display: 'Jura Variable', var(--font-sans);
}

:root {
  @apply scheme-light dark:scheme-dark;
  background-color: light-dark(var(--color-zinc-100), var(--color-zinc-800));
}

/* @plugin "@tailwindcss/typography"; */
/* @plugin "@tailwindcss/forms"; */

/* :root {
  @apply bg-zinc-100 dark:bg-zinc-800;
  --width-sm: 375px;
  --spacing-6: theme(spacing.6);
  --breakpoint-md: theme(screens.md);
} */
