@import 'tailwindcss';
/* @plugin "@tailwindcss/typography"; */
/* @plugin "@tailwindcss/forms"; */

@import '@fontsource-variable/nunito' layer(base);
@import '@fontsource-variable/jura' layer(base);

@theme {
  --default-font-family: 'Nunito Variable', var(--font-sans);
  --font-display: 'Jura Variable', var(--font-sans);
}

@custom-variant pointer-coarse (@media (pointer: coarse));
@custom-variant pointer-fine (@media (pointer: fine));

:root {
  @apply scheme-light dark:scheme-dark;
  background-color: light-dark(var(--color-zinc-100), var(--color-zinc-800));
}
