/* @import 'tailwindcss'; */
/* @import '@fontsource-variable/nunito' layer(base);
@import '@fontsource-variable/jura' layer(base); */

/* @plugin "@tailwindcss/typography"; */
/* @plugin "@tailwindcss/forms"; */

@import '@fontsource-variable/nunito';
@import '@fontsource-variable/jura';

@tailwind base;
.transition-allow-discrete {
  transition-behavior: allow-discrete;
}
@tailwind components;
@tailwind utilities;

:root {
  @apply bg-zinc-100 dark:bg-zinc-800;
  --width-sm: theme(width.80);
  --spacing-6: theme(spacing.6);
  --breakpoint-md: theme(screens.md);
}

/* @theme {
  --default-font-family: 'Nunito Variable', var(--font-family-sans);
  --font-family-display: 'Jura Variable', var(--font-family-sans);
} */

@layer utilities {

}
